BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
MaxEmptyLinesToKeep: 2
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
CommentPragmas: '^\\s*\\*'
SortIncludes: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false
InsertNewlineAtEOF: true
ColumnLimit: 120
PenaltyReturnTypeOnItsOwnLine: 1000000
PenaltyBreakAssignment: 1000
PenaltyBreakOpenParenthesis: 1000
ReflowComments: false
SkipMacroDefinitionBody: true
AllowShortEnumsOnASingleLine: false
AllowAllArgumentsOnNextLine: false
